@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FFF;
}

::-webkit-scrollbar-thumb {
  background: #B8C1CD;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B8C1CD;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: none;
}